<h2><%= @exercise['name']%> </h2>
<div class="exercise-image">
    <img src="<%= @exercise['image_url'] %>" alt= "">
</div>

<div class='instructions'>
  <h4> EXERCISE DETAILS: </h4>
    <ul>
        <li>Level: <%= @exercise['level']%></li>
        <li>Focus Areas: <%= @exercise['muscle_groups']%></li>
        <li>Reps: <%= @exercise['reps']%></li>
        <li>Instructions: <%= @exercise['description']%></li>
    </ul>
    <p><%= @exercise.likes.count%> Likes</p>
</div>

<div class="save">
    <form action="/my_program" method= "post">
        <input type="hidden" name="exercise_id" value="<%= @exercise['id'] %>">
        <button id="save" onclick="saved()"> Save to myProgram</button>
    </form>
</div>

<div class="like">
   <form action="/likes" method="post">
        <input type="hidden" name="exercise_id" value="<%= @exercise.id %>">
        <button>Like</button>
    </form> 
</div>


<span> Exercise posted by <%= @exercise.user.email %>&hearts;</span>





<div class="options">

    <form action ="/exercises/<%= @exercise['id']%>/edit" method= "put"> 
        <input type="hidden" name="_method" value = "<%= @exercise['id']%>">
        <button>Update/amend exercise</button>
    </form>

    <form action ="/exercises/<%= @exercise['id'] %>" method= "post"> 
        <input type="hidden" name="_method" value = "delete">
        <button>Delete exercise</button>
    </form>

</div>

<div class="add-comment">
    <form action="/comments" method= "post">
        <input type="hidden" name="exercise_id" value="<%= @exercise['id'] %>">
        <label for=""> What do you think? </label><br>
        <textarea name="content"></textarea><br>
        <button> Post </button>
    </form>
</div>



<p>COMMENTS: </p>
    <% @comments.each do |comment| %>
<p> "<%= comment['content'] %>" 
    <span>- <%= comment.user.email %></span>
</p>
<p><%= comment['comment_time']%>
    <form action ="/comments/<%=comment['id'] %>" method= "post"> 
        <input type="hidden" name="_method" value = "delete">
        <button>Delete comment</button>
    </form>
</p>
<% end %>


<script>
function saved() {
    document.getElementById("save").style.color = "pink";
    document.getElementById("save").name = "saved";

}
</script>