<h2><%= @exercise['name']%> </h2>

<img src="<%= @exercise['image_url'] %>" alt= "">


<div class='instructions'>
  <p> Details: </p>
    <ul>
        <li>Level: <%= @exercise['level']%></li>
        <li>Focus Areas: <%= @exercise['muscle_groups']%></li>
        <li>Reps: <%= @exercise['reps']%></li>
        <li>Instructions: <%= @exercise['description']%></li>
    </ul>

</div>

<form action ="/exercises/<%= @exercise['id'] %>" method= "post"> 
    <input type="hidden" name="_method" value = "delete">
    <button>Delete exercise</button>
</form>



<form action="/comments" method= "post">
<input type="hidden" name="exercise_id" value="<%= @exercise['id'] %>">
    <label for=""> What do you think? </label>
    <textarea name="content"></textarea>
    <button> Post </button>
    </form>



<p>COMMENTS: </p>
    <% @comments.each do |comment| %>
<p>
    <%= comment['content']  %> </p><br>

<p><%= comment['comment_time']%></p>

<form action ="/comments/<%=comment['id'] %>" method= "post"> 
    <input type="hidden" name="_method" value = "delete">
    <button>Delete comment</button>
</form>
<p> Posted by <%= %> </p>
<% end %>